<div class="col-2 px-0 d-none d-md-block d-lg-block">
  <div class="d-flex flex-column p-3 sidebar-custom">
    <div class="d-flex flex-column align-items-center">
      <i class="fas fa-user-circle mb-1 mt-4"></i>
      <h1 class="my-3"><%= user.username %> </h1>
      <h6>Admin</h6>
    </div>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto ">
      <li class="nav-item">
        <a href="/admin/dashboard" class="nav-link text-white <%= title == 'Dashboard' ? 'active' : '' %>">
          <i class="fas fa-home me-2"></i>
          Dashboard
        </a>
      </li>
      <li>
        <a href="/admin/adduser" class="nav-link text-white <%= title == 'Register' ? 'active' : '' %>">
          <i class="fas fa-user-plus me-2"></i>
          Add New User
        </a>
      </li>
      </li>
      <li>
        <a href="/admin/logout" class="nav-link text-white" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <i class="fas fa-sign-out-alt me-2"></i>
          Logout
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Logout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to logout?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a href="/admin/logout"><button type="button" class="btn btn-primary">Logout</button></a>
      </div>
    </div>
  </div>
</div>
<!-- modal end -->