<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')  %>
  <link rel="stylesheet" href="/styles/errors.css">
</head>
<body>
  <%- include ('./partials/navbar') %> 
  <div class="container-fluid header--custom header--custom_gradient">
    <div class="row vh-100 vw-100 justify-content-center">
      <div class="col col-custom header--content">
        <% if (status == "404") { %>
          <h1><%= status  %>  | Page not Found</h1>
          <h2>We can't find the page that you were looking for.</h2>
        <% } else { %>
        <h1><%= status %>  | Server Error</h1>
        <h2>We are working on fixing the problem. Be back soon.</h2>
        <% } %> 
          <a href="/" type="button" class="btn btn--custom mt-5">Go Home</a>
      </div>
    </div>
  </div>
  <!-- bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>