<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- custom css  -->
    <link rel="stylesheet" href="/styles/game.css" />
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link rel="shortcut icon" type="image/jpg" href="img/logo.png" />
    <!-- Google font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet" />
    <title><%= title %> </title>
  </head>

  <body id="app" class="app" onload="myFunction()">
    <!-- preloading screen -->
    <div id="loader">
      <img src="img/logo.png" alt="" />
      <h1 class="mt-4">Starting...</h1>
    </div>

    <div id="apploader">
      <!-- header section -->
      <header>
        <div class="container">
          <div class="row">
            <div class="col d-flex justify-content-center align-items-center">
              <button class="home-button">
                <a href="/" ><img src="img/home.png" alt="home"></a>
              </button>
            </div>
            <!-- main tittle -->
            <div class="col-5 d-flex mt-2 title">
              <h1>rock-paper-scissor game</h1>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
              <!-- logo/about modal button -->
              <button class="about-button me-4" data-bs-toggle="modal" data-bs-target="#about_modal">
                <img id="logo" src="img/logo.png" alt="about" />
              </button>
              <!-- info modal button -->
              <button class="rules-button me-4" data-bs-toggle="modal" data-bs-target="#rules_modal">
                <img id="info" src="img/info.png" alt="rules" />
              </button>
            </div>
          </div>
        </div>
      </header>

      <!-- main game section -->
      <div class="container d-flex flex-row mx-auto justify-content-around">
        <!-- player section -->
        <div class="row player-section flex-column mt-3 justify-content-center">
          <h1>player</h1>
          <div class="col d-flex justify-content-center mt-2">
            <img id="rock" src="img/batu.png" alt="" class="img-fluid player" />
          </div>
          <div class="col d-flex justify-content-center">
            <img id="scissor" src="img/gunting.png" alt="" class="img-fluid player" />
          </div>
          <div class="col d-flex justify-content-center">
            <img id="paper" src="img/kertas.png" alt="" class="img-fluid player" />
          </div>
        </div>
        <!-- result-message and score counter -->
        <div class="row flex-column align-items-center justify-content-center mt-5 result-custom">
          <div class="col d-flex score justify-content-center mt-5">
            <h1 id="p-score">--</h1>
            <h1>:</h1>
            <h1 id="c-score">--</h1>
          </div>
          <div class="col d-flex flex-column align-items-center">
            <h1 id="result" class="result bg-default message message-wrap">VS</h1>
          </div>
        </div>
        <!-- computer section -->
        <div class="row cpu-section flex-column mt-3 justify-content-center">
          <h1>CPU</h1>
          <div class="col d-flex justify-content-center mt-2">
            <img id="rock-cpu" src="img/batu.png" alt="" class="img-fluid cpu" />
          </div>
          <div class="col d-flex justify-content-center">
            <img id="scissor-cpu" src="img/gunting.png" alt="" class="img-fluid cpu" />
          </div>
          <div class="col d-flex justify-content-center">
            <img id="paper-cpu" src="img/kertas.png" alt="" class="img-fluid cpu" />
          </div>
        </div>
      </div>
      <!-- reset button -->
      <div class="d-flex justify-content-center">
        <button id="reset-button" class="reset-button">
          <img id="reset" src="img/refresh.png" alt="" />
        </button>
      </div>

      <!-- modal -->
      <!-- About Modal -->
      <div class="modal fade" id="about_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div id="modal" class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">About</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
              <img src="img/about.png" alt="" />
            </div>
          </div>
        </div>
      </div>
      <!-- Rules Modal -->
      <div class="modal fade" id="rules_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
          <div id="modal" class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="staticBackdropLabel">Rules</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex justify-content-center">
              <img src="img/rules.png" alt="" />
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      // preloading screen
      function myFunction() {
        setTimeout(() => {
          document.getElementById("loader").style.display = "none";
          document.getElementById("apploader").style.display = "block";
        }, 700);
      }
    </script>
    <!--Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="js/game.js"></script>
  </body>
</html>
