<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <!-- navbar section -->
  <%- include('./partials/navbar')  %> 

    <!-- header-hero section -->
    <header id="hero">
      <div class="main header--custom header--custom_gradient">
        <div class="container">
          <div class="row flex-column text-center header--content">
            <div class="col">
              <h1 class="header--animation_a">play traditional game</h1>
              <h2 class="header--animation_b">Experience new traditional gameplay</h2>
              <a href="/game"><button type="button" class="mt-5 btn--custom">Play Now</button></a>
            </div>
            <div class="col pt-5">
              <h6>The Story</h6>
              <a href="#gameplay"><i class="fas fa-chevron-down"></i></a>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- gameplay-slider -->
    <section id="gameplay">
      <div class="main gameplay--custom">
        <div class="container">
          <div class="row min-vh-100 align-content-center">
            <div class="col-md-3 p-5">
              <h4>What's so special?</h4>
              <h2>The Games</h2>
            </div>
            <div class="col-md-9 p-5">
              <div id="carouselControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="img/slider-1.jpg" class="d-block w-100" alt="rock paper scissor">
                  </div>
                  <div class="carousel-item">
                    <img src="img/slider-2.jpg" class="d-block w-100" alt="game scene 1">
                  </div>
                  <div class="carousel-item">
                    <img src="img/slider-3.jpg" class="d-block w-100" alt="game scene 2">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- game-feature -->
    <section id="features">
      <div class="main features--custom header--custom_gradient">
        <div class="container">
          <div class="row vh-100 align-items-center">
            <div class="col-md-5 ms-auto mb-5">
              <h4>What's so special?</h4>
              <h2>Features</h2>
              <div class="row">
                <div class="col-1">
                  <div class="features--custom_bar vertikal">
                    <div class="steps one active"></div>
                    <div class="steps two non-active"></div>
                    <div class="steps three non-active"></div>
                    <div class="progress" style="height: 3px; background-color: rgba(100, 148, 237, 0);">
                      <div class="progress-bar" style="width: 60%; background-color: rgba(161, 161, 161, 0.699);"></div>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <h3>traditional games</h3>
                  <h4>if you miss your childhood, we provide many traditional games here</h4>
                  <h3 class="my-5">games suit</h3>
                  <h3>tbd</h3>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </section>
  
    <!-- requirements -->
    <section id="requirement">
      <div class="main require--custom require--custom_gradient">
        <div class="container">
          <div class="row require--content vh-100 align-items-center">
            <div class="col subheading">
              <h4>can my computer run this game?</h4>
              <h2>System Requirements</h2>
              <table class="table table-bordered">
                <tbody>
                  <tr>                  
                    <td>
                      <h3>OS</h3>
                      <h4>Windows 7 64-bit only (No OSX support at this time)</h4>
                    </td>
                    <td>
                      <h3>Processor</h3>
                      <h4>Inter Core 2 Duo @ 2.4 Ghz or AMD Athlon X2 @ 2.8 GHz</h4>
                    </td>
                  </tr>
                  <tr>                  
                    <td>
                      <h3>memory</h3>
                      <h4>4 GB RAM</h4>
                    </td>
                    <td>
                      <h3>storage</h3>
                      <h4>8 GB available space</h4>
                    </td>
                  </tr>
                  <tr>                
                    <td colspan="2">
                      <h3>Graphics</h3>
                      <h4>NVIDIA GeForce GTX 660 2GB or AMD Radeon HD 7850 2GB DirectX11 (Shader Model 5)</h4>
                    </td>
                  </tr>
                </tbody>
              </table>     
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- testimony -->
    <section id="topscore">
      <div class="main topscore--custom">
        <div class="container">
          <div class="row vh-100 align-items-center">
            <div class="col-md pb-5 pt-5">
              <h2>top scores</h2>
              <h4>This top score from various games provided on this platform</h4>
              <button type="button" class="mt-5 btn--custom">See More</button>
            </div>
            
            <!-- card-start -->
            <div class="col-md d-flex flex-column pb-5 pt-5">
              <!-- card1 -->
              <div class="card mb-3 ms-auto p-2">
                <div class="card-header">
                  <div class="row">
                    <div class="col-3 circle--bg">
                      <img src="img/people-1.jpg" class="avatar rounded-circle" alt="photo of Evan">
                    </div>
                    <div class="col">                            
                      <h4 class="card-title">Evan Lahti</h4>
                      <h6 class="card-subtitle text-muted mb-2">PC Gamer</h6>
                    </div>
                    <div class="col-1">
                      <a href="#" class="icon--custom twitter-link"></a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text ">"One of my gaming highlights of the year."</p>
                </div>
                <div class="card-footer text-muted">October 18, 2018</div>
              </div>

              <!-- card2 -->
              <div class="card mb-3 p-2">
                <div class="card-header">
                  <div class="row">
                    <div class="col-5 col-sm-3 circle--bg">
                      <img src="img/people-2.jpg" class="avatar rounded-circle" alt="photo of Jada">
                    </div>
                    <div class="col">                            
                      <h4 class="card-title">Jada Griffin</h4>
                      <h6 class="card-subtitle text-muted mb-2">Nerdreactor</h6>
                    </div>
                    <div class="col-1">
                      <a href="#" class="icon--custom twitter-link"></a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text ">“The next big thing in the world of streaming and survival games.”</p>
                </div>
                <div class="card-footer text-muted">Desember 21, 2018</div>
              </div>

              <!-- card3 -->
              <div class="card mb-3 ms-auto p-2">
                <div class="card-header">
                  <div class="row">
                    <div class="col-5 col-sm-3 circle--bg">
                      <img src="img/people-3.jpg" class="avatar rounded-circle" alt="photo of Aoron ">
                    </div>
                    <div class="col">                            
                      <h4 class="card-title">Aaoron Williams</h4>
                      <h6 class="card-subtitle text-muted mb-2">Uproxx</h6>
                    </div>
                    <div class="col-1">
                      <a href="#" class="icon--custom twitter-link"></a>
                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <p class="card-text ">“Snoop Dogg Playing The Wildly Entertaining ‘SOS’ Is Ridiculous.”</p>
                </div>
                <div class="card-footer text-muted">Desember 24, 2018</div>
              </div>
            </div>
            <!-- card-end -->
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- newsletter -->
    <section id="newsletter">
      <div class="main newsletter--custom">
        <div class="container">
          <div class="row vh-100 align-items-center">
            <div class="col-md-5 mt-5 d-none d-md-block newsletter--custom_gradient">
              <img class="img-fluid" src="img/img-newsletter.png" alt="picture of skull">
            </div>
            <div class="col-md-7 newsletter--content">
              <h4>Want to stay in touch?</h4>
              <h2>newsletter subscribe</h2>
              <p>In order to start receiving our news, all you have to do is enter your email address. Everything else will be taken care of by us. We will send you emails containing information about game. We don’t spam.</p>
              <form class="row g-3 align-items-center">
                <div class="col-5 ps-auto form-floating">
                  <input type="email" class="form-control ps-3" id="floatingInputValue" placeholder="name@example.com" value="youremail@binar.co.id">
                  <label class="ps-4" for="floatingInputValue">Email address</label>
                </div>
                <div class="col">
                  <button type="submit" class="btn--custom">Subscribe Now</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- footer & socialmedia links-->
    <footer>
      <div class="footer--custom py-3">
        <div class="container">
          <div class="row pb-3 g-0">
            <div class="col-md-8">
              <ul class="d-flex justify-content-evenly">
                <li><a href="#hero">main</a></li>
                <li><a href="#gameplay">about</a></li>
                <li><a href="#features">game features</a></li>
                <li><a href="#requirement">system requirements</a></li>
                <li><a href="#topscore">quotes</a></li>
              </ul>
            </div>
            <div class="col">
              <ul class="d-flex justify-content-evenly icon--custom">
                <li><a href="#" class="fbook-link"></a></li>
                <li><a href="#" class="twitter-link"></a></li>
                <li><a href="#" class="utube-link"></a></li>
                <li><a href="#" class="twitch-link"></a></li>
              </ul>
            </div>
          </div>
          <div class="row pt-2 footer--custom_line">
            <div class="col-md-4">
              <ul class="d-flex justify-content-center justify-content-md-start">
                <li><p id="copyright">&#169; 2018 Your Games, Inc. All Right Reserved</p></li>
              </ul>
            </div>
            <div class="col-md-8">
              <ul class="d-flex me-auto justify-content-center justify-content-md-end">
                <li><a href="#gameplay">privacy policy</a></li>
                <li><a href="#features">terms of service</a></li>
                <li><a href="#requirement">code of conducts</a></li> 
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>


  <!-- bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>