<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')  %>
  <link rel="stylesheet" href="/styles/dashboard.css">
</head>
<body>
  <div class="container-fluid">
    <div class="row vh-100 vw-100">
      <!-- sidebar -->
      <%- include('./partials/dash-sidebar')  %>
      <!-- main area -->
      <div class="col dashboard-custom">
        <!-- navbar dashboard -->
        <%- include('./partials/dash-nav')  %>
        

        <!-- dashboard register user form -->
        <section class="row justify-content-center align-items-center">
            <div class="col-4 register-container">
              <!-- form -->
              <form method="POST" action="/admin/adduser">
                <div class="card">
                  <div class="card-header d-flex flex-column align-items-center p-1 register-card_custom">
                    <h1 class="my-5">registration form</h1>
                  </div>
                  <div class="card-body">
                    <p class="fs-6">*required information</p>
                    <div class="my-4">
                      <input type="text" class="form-control" id="username" placeholder="username*" name="username" required>
                    </div>
                    <div class="my-4">
                      <input type="password" class="form-control" id="password" placeholder="password*" name="password" required>
                    </div>
                    <div class="my-4">
                      <input type="text" class="form-control" value="" name="firstName" placeholder="first name">
                    </div>
                    <div class="my-4">
                      <input type="text" class="form-control" value="" name="lastName" placeholder="last name">
                    </div>
                    <div class="my-4">
                      <input type="email" class="form-control" value="" name="email" placeholder="email address">
                    </div>
                    <div class="my-4">
                      <select id="countries" name="country" class="form-select">
                        <option selected value="">Country</option>
                        <%- include('./partials/countrycode') %>
                      </select>
                    </div>
                  </div>
                      
                  <button type="submit" class="btn btn--custom">Register</button>
                </div>
              </form>
              <!-- form end-->
          </div>
          </div>
        </section>
        <!-- register end -->

      </div>
      <!-- main area end -->
    </div>
  </div>

  <!-- bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>


