/* color & font variables */
:root {
  --clr-primary: #FFB548;
  --clr-primary-accent: #F3AF34;
  --clr-secondary: #1A1C1D;
  --clr-secondary-accent: #5D5E5E;

  --ff-primary:'Bebas Neue', cursive;
  --ff-secondary: 'Open Sans', sans-serif;
}
* {
  color: white;
}

/* == basic component == */
/* button */
.btn--custom {
  text-transform: uppercase;
  padding: 1rem 5rem;
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  border-radius: 0.2rem;
  color: var(--clr-secondary);
  border: 0px;
  background-image: linear-gradient(194.68deg, var(--clr-primary) 11.27%, var(--clr-primary-accent) 90.4%);
}
.btn--custom:hover {
  transform:scale(1.1,1.1);
  transition: 0.3s ease-in-out;
}
.btn--custom:active {
  border: 3px solid var(--clr-secondary);
}

/* sub-heading */
h2 {
  font-size: 4rem;
  text-transform: uppercase;
  font-family: var(--ff-primary);
}
h3{
  font-size: 2rem;
  text-transform: uppercase;
  font-family: var(--ff-primary);
  color: var(--clr-primary);
}
h4 {
  font-size: 1.1rem;
  text-transform:capitalize;
  font-family: var(--ff-secondary);
}

/* == navbar-section == */
.navbar {
  /* background-color: rgba(0, 0, 0, 0.5); */
  font-family: var(--ff-primary);
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
}
/* blur navbar */
.navbar::before {
  content: '';
  background: var(--clr-secondary);
  /* -webkit-backdrop-filter: blur( 12px );
  backdrop-filter: blur( 12px ); */
  display: block;
  width: 100vw;
  height: 75px;
  left: 0;
  top: 0;
  position: absolute;
  z-index: -1;
}
.nav-link {
  color: rgb(201, 201, 201);
} 
.nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid var(--clr-primary);
  width: 50%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}
/* game's logo */
.fa-gopuram {
  font-size: 1.5rem;
  
}
/* humberger icon */
.fa-bars {
  font-size: 1.8rem;
}

/* = container for background image = */
.main {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height:100vh;
  position: relative;
}

/* == header--hero-section == */
.header--custom {
  background-image: url(../img/hero.jpg);
  background-attachment: fixed;
  padding-top: 35vh;
}
.header--content {
  z-index: 1;
  position: relative;
}
.header--custom_gradient::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to top,rgba(0, 0, 0, 0.692),rgba(0,0,0,0));
  position: absolute;
  bottom: 0;
}
.header--custom h1 {
  font-size: 6rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-weight: bolder;
  font-family: var(--ff-primary);
  text-shadow: 2px 2px 5px var(--clr-secondary);
}
.header--custom h2 {
  text-transform: capitalize;
  font-size: 2rem;
  font-family: var(--ff-secondary);
}


/* == gameplay-section == */
.gameplay--custom {
  background-image: url(../img/games-bg.jpg);
}

/* == features-section == */
.features--custom {
  background-image: url(../img/features2.jpg);
}
/* progress bar */
.features--custom_bar {
  width: 30vh;
}
.steps::before {
  content: '';
  width: 1rem;
  height: 1rem;
  position: absolute;
  border-radius: 1rem;
  margin-top: -7px;
}
.active::before {
  background-color: rgb(255, 255, 255);
}
.non-active::before {
  background-color:transparent;
  border: 2px solid white;
}
.one::before {left: 0%;}
.two::before {left: 60%;}
.three::before {left: 100%;}

.vertikal {
  transform: rotate(90deg);
  transform-origin: bottom left;
}

/* == requirement-section == */
.require--custom {
  background-image: url(../img/requirements.png);
}

.require--custom_gradient::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 80%, rgba(255,255,255,0) 0%,rgba(0, 0, 5, 0.651) 40%, rgba(0,0,5,1) 90%);
  position: absolute;
  bottom: 0;
  left: 0;
}
.require--content {
  z-index: 1;
  position: relative;
  width: 50%;
}

/* == topscore-section == */
.topscore--custom {
  background-image: url(../img/top-score-bg.png);
  background-attachment: fixed;
}

/* testimony card */
.card {
  border: none;
  border-radius: 5px;
  width: 70%;
  font-family: var(--ff-secondary);
  background-color: var(--clr-secondary);
}
.card h4 {
  font-size: 1.1em;
  color: var(--clr-primary);
}
.card h6 {
  font-size: 0.9em;
}
.card-header,
.card-body,
.card-footer {
  border: none;
  background-color: var(--clr-secondary);
}

/* profile picture */
.avatar {
  max-width: 4rem;
  position: relative;
  z-index: 1;
}
/* yellow-circle */
.circle--bg::after {
  content: '';
  display: inline-block;
  background-color: #F3AF34;
  height: 4rem;
  width: 4rem; 
  border-radius: 100%;
  position: absolute;
  top: 1.2rem;
  left: 2rem;
}


/* == newsletter-section == */
.newsletter--custom {
  background-image: url(../img/newsletter.jpg);
}
.newsletter--custom img {
  height: 50%;
  width: 70%;
}
.newsletter--custom_gradient::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at 25%, rgba(255,255,255,0) 0%,rgba(0, 0, 0, 0.685) 15%, rgba(0,0,5,1) 99%);
  position: absolute;
  bottom: 0;
  left: 0;
}
.newsletter--content {
  z-index: 1;
}

/* subscribe button */
.newsletter--custom .btn--custom {
  padding: 1.125rem 1rem;
  font-size: 0.9rem;
  letter-spacing: 0rem;
}
.newsletter--custom .btn--custom:hover {
  transform:none;
  transition: none;
}
/* email form */
.form-control{
  background-color: var(--clr-secondary);
  border-width: 0;
}
#floatingInputValue {
  color:var(--clr-primary-accent);
}
.form-control:focus {
  background-color: var(--clr-secondary);
  border-color: var(--clr-primary);
  box-shadow: 0 0 2px var(--clr-primary-accent);
}

/* ==footer-section== */
/* social-media links */
a {
  text-decoration: none;
  color: var(--clr-secondary-accent);
}
a:hover {
  color: white;
}
.icon--custom {
  font-family: "Font Awesome 5 Brands";
  font-size: 1.2rem;
}

/* twitter link */
.twitter-link::after {
  content: "\f099";
}
.twitter-link:hover {
  color: #00acee;
}

/* facebook link */
.fbook-link::after {
  content: "\f39e";
}
.fbook-link:hover {
  color: #3b5998;
}

/* youtube link */
.utube-link::after {
  content: "\f167";
}
.utube-link:hover {
  color: #FF0000;
}

/* twitch link */
.twitch-link::after {
  content: "\f1e8";
}
.twitch-link:hover {
  color: #6441a5 ;
}

/* footer-nav */
.footer--custom {
  background-color: black;
  font-family: var(--ff-primary);
}
li {
  list-style: none;
}
#copyright {
  font-family: var(--ff-secondary);
  text-transform: capitalize;
  color: var(--clr-secondary-accent);
}
.footer--custom_line {
  border-top: thin solid var(--clr-secondary-accent);
}
.footer--custom_line li + li:before{
  content: " | ";
  padding: 0 10px;
  color: var(--clr-secondary-accent);
}

/* == media query == */
/* small screen*/
@media only screen and (max-width: 768px) {
  .header--custom {
    padding-top: 20vh;
  }
  .header--custom h1 {
    font-size: 4rem;
  }

  .card {
    width: 100%;
  }
  .card h4,
  .card p {
    font-size: 0.9rem;
  }
  .card-footer {
    font-size: 0.9rem;
  }

  .avatar {
    max-width: 3rem;
  }    
  .circle--bg::after {
    height: 3rem;
    width: 3rem; 
  }

  /* adjusting background for overflow card */
  .topscore--custom {
    min-height: 130vh;
  }
  /* table of syst-require */
  .require--content {
    width: 100%;
  }
}

  /* medium-large screen -- card (testimony section) */
@media only screen 
and (max-width: 992px) {
  .card {
    width: 100%;
  }
  .card h4,
  .card p {
    font-size: 0.9rem;
  }
  .card-footer {
    font-size: 0.9rem;
  }
}

/* remove hover animation 
when toogler is active */
@media only screen and (max-width: 1024px) {
  .nav-link:hover::after {
    display: none;
  }
  .nav-link {
    color: white;
  } 
}

/*== simple animation == */
@keyframes updown{
  0% {
    opacity :0;
    transform: translateY(20px);
  }
  100% {
    opacity : 1;
    transform: translateY(0);
  }
}
@keyframes leftright{
  0% {
    opacity :0;
    transform: translateX(-100px);
  }
  100% {
    opacity : 1;
    transform: translateX(0);
  }
}
@keyframes rightleft{
  0% {
    opacity :0;
    transform: translateX(100px);
  }
  100% {
    opacity : 1;
    transform: translateX(0);
  }
}
@keyframes cardhover {
  0%   {border-left: 2px solid var(--clr-secondary-accent);}
  100% {border-left: 5px solid var(--clr-primary);}
}

.header--animation_a {
  animation: leftright 2s;
}
.header--animation_b {
  animation: rightleft 2s;
}
.fa-chevron-down {
  animation: updown 1s infinite alternate;
}
.card:hover {
  left: -8px;
  animation: cardhover 0.3s;
  border-left: 5px solid var(--clr-primary);
  
}  